.subreddit-topic-search__search-interface {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    max-width: 500px;

    input, textarea {
        width: 100%;
        font-size: 1rem;
    }

    input {
        padding: 0.5rem;
    }

    textarea {
        padding: 0.5rem;
        margin-top: 0.5rem;
        min-height: 100px;
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0.5rem;
        cursor: pointer;
        padding: 0.35rem 1rem;
        border: 0;
        border-radius: 4px;
        font-size: 1rem;

        &:not(:first-of-type) {
            margin-left: 1rem;
        }

        &#save-tags {
            background-color: #87CEEB;
            color: #000000;
        }

        &#search {
            background-color: #6B8E23;
            color: #ffffff;
        }

        &:disabled {
            opacity: 0.6;
            cursor: wait;
        }
    }
}

.subreddit-topic-search__search-interface-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.subreddit-topic-search__search-results {
    margin-top: 1rem;
}

.subreddit-topic-search__search-result-flair {
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;

    span {
        background-color: #87CEEB;
        color: #080808;
        padding: 0.25rem;
        border-radius: 4px;
        font-size: 0.75rem;
    }
}

.subreddit-topic-search__search-result {
    padding: 0.5rem;
    border: 1px solid #000;
    border-radius: 5px;
    margin-top: 0.75rem;
    
    &.open {
        img {
            transform: rotate(180deg);
        }

        .subreddit-topic-search__search-result-body {
            display: block;
        }
    }
}

.subreddit-topic-search__search-result-header {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    cursor: pointer;

    h2 {
        flex: 1;
    }

    img {
        flex: 0;
        max-width: 16px;
    }
}

.subreddit-topic-search__search-result-body {
    display: none;
    margin-top: 0.5rem;

    p {
        margin-top: 0.5rem;
    }
}