@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-Regular.ttf');
}

body {
  padding: 1rem;

  * {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
}
